<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/
        css2?family=Quicksand:wght@300&display=swap" 
        rel="stylesheet">
    <title>From Moz Sneakers</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/all.css">

</head>
<body>
   <header class="headContainer">
        <div class="navBar">
            <div class="logo">
                <img src="Logo/From_moz_logo.png" alt="" class="logo">
                <a href="#"></a>
            </div> 
            <div class="navList">       
                <ul class="nacList">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#"><div class="reg">Register</div></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <section>             

    </section>
    <footer>
        <!-------------------------footer--------------->
        <div class="footerContainer">	
            <div class="row_1">
                <div class="cols_2">
                    <div class="colS">
                    <img src="Logo/From_moz_logo.png">
                    </div>
                </div>

                <div class="cols_2">
                    <h3>MENU</h3>
                    <ul class="footList">
                        <li>Home</li>
                        <li>About us</li>
                        <li>Contact us</li>
                        <li>Login</li>
                        <li>Register</li>
                    </ul>
                </div>
    
                <div class="cols_2">
                    <h3>FOLLOW US</h3>
                    <ul class="follow_us">
                        <li><i class="fab fa-facebook-f"></i> </li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
                </div>
    
                <div class="cols_2">
                    <h3>JOIN US</h3>
                    <ul class="footList">
                        <p>Get all the latest information on New Releases,</p><br>
                        <p>sales and Offers. Sign Up for newsletter today.</p>
                        <ul class="footList">
                    <div class="input_container">
                        <input type="text" class="input_emailButton" placeholder="EMAIL ADDRESS">
                        <br>
                        <button type="submit"class="input_emailButton" >GO!</button>
                    </div>                    
                </div>                
            </div>

            <div class="row_1">
                <div class="separator"></div>	
            </div>
    
            <div class="row_1">
                <div class="copyright">
                    <p>&copy2021 FMWS. All Rights Reserved</p>
                </div>
            </div>
        </div>

    </footer>
    </div>

    <script src="interation.js"></script>
</body>
</html>